/* body 
{
    margin: 0; padding: 0; font-family: fantasy;
    background-image: url('images/avocado-1838785_960_720.jpg');

} */
* {
    box-sizing: border-box;
  }

body {
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
  }

header
{
    background: #53c3b2;
    color: #EFEB13;
    font-size: 80px;
    text-align: center;
    padding: 40px 0;
    font-size: Courier New
}
nav 
{
    background: #EBEBD5;
    font-size: 20px;
    color: black;
    text-align: center
}
input[type=text] {
    width: 50%;
    height: 50%;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 300%;
    text-align: center;
    color: rgb(106, 146, 106);
  }
  

  .container {
    width: 1050px;
    margin: auto;
    background-color: green;
  
  }
  .text-center {
    text-align: center;
  }
  .fl-left {float:left;}
  /* Start Portfolio */
.portfolio {padding-top:150px;padding-bottom:70px; background-color: #5E6C55; margin-top: 300px;}
.portfolio h1 {color: #e8d7d7 }
.portfolio p {font-size: 25px; color: #c4b8b8}
.portfolio .our-work {overflow:hidden}
.portfolio .our-work div {float:left;width:50%;margin-bottom:10px}

.portfolio .our-work .webpage {
  background-color: rgb(209, 113, 113);
  width:92%;
  height: 350px;
  margin:10px 5px 10px 17px; ;
  padding:3px;
  border:1px solid #CCC
}
.btn input{
    background: yellow;
    border: 3px solid #161414;
    color: #241b1b;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 16px 42px;
    transition: all 0.4s ease-in-out;
   }
ul, ol
{
    list-style: none; padding: 0; margin: 0; color: #f8b732; font-family: Georgia
}
ul li 
{
    display: inline-block; padding: 25px; font-size: 20px
}
main 
{
    text-align: center; 
    padding: 20px 0
}
h1
{
    font-family: Tahoma;
    color: #060942
}
footer 
{
    background: #383F42;
    color: #FFF;
    text-align: center;
    padding: 10px 0
}
