
.container {
    width: 1050px;
    margin: auto;
  
  }

.row {
    margin: 50px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.row div {
    color: #fff;
    width: 400%;
    height: 200%;
    padding: 10px;
}
.special-heading {
    text-align: center;
    padding-top: 5%;
    color: black;
    font-size: 500%;
    font-family: 'Marck Script', cursive;

}
.row h2 {
    color: black;
    text-align: center;
    font-family: 'Alice', serif;
}
.row div img {
    width: 100%;
}



button {
    background: transparent;
    border-radius: 0;
    border: 3px solid #383838;
    color: #252222;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 16px 42px;
    font-family: 'Alice', serif;
    margin-top: 40px;
    transition: all 0.4s ease-in-out;
  }
  button:hover {
    background: #383838;
    color: #202020;
  }



/* just incse code */ 
.row div:first-of-type { /* the parent div */
    
}

.row div:nth-of-type(2) { /* second child */
    
}
.row div:last-of-type { /* last child */
   

    